html,
body {
	font-family: 'VT323', monospace;
	background-image: url("../images/background.jpg");
}

h1 {
	font-family: 'Bungee Shade', cursive;
	font-size: 100px;
	color: #fff;
}

h2 {
	font-family: 'Bungee', cursive;
	font-size: 48px;
	color: #fff;
}

h3 {
	font-size: 20px;
}

p {
	font-size: 16px;
}

.caption {
	text-align: center;
	display: block;
	position: absolute; 
  	bottom: 50px; 
  	right: 5px;
  	width: 100%; 
  	color: white;
  	padding: 15px;
}

.winnerImg {
	position: relative;
}

.left-col {
	border: groove 5px #000; 
	background-color: #ccc;
}

.right-col {
	border: groove 5px #000;
	background-color: #ccc;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}